.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: var(--image-i5cec3e91);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  color: #333;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #475467;
}

ul {
  margin-bottom: 0;
  list-style-type: none;
}

label {
  font-weight: 700;
  display: block;
}

.nav_item {
  float: left;
  color: #5e5e5e;
  font-weight: 600;
  transition: background-color .25s ease-in-out;
  position: relative;
}

.nav_item:hover {
  background-color: #f4f4f4;
}

.uui-navbar01_menu-button {
  padding: 0;
}

.uui-navbar01_button-wrapper {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  align-items: center;
  display: flex;
}

.uui-navbar01_menu-right {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: flex;
}

.uui-navbar01_link {
  color: #475467;
  flex-direction: column;
  align-items: center;
  padding: 1.75rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: all .3s;
}

.uui-navbar01_link:hover {
  color: #344054;
}

.uui-navbar01_link.w--current {
  color: #000;
}

.uui-navbar01_dropdown-right-overlay-absolute {
  min-width: 100vw;
  background-color: #f9fafb;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.uui-button-icon {
  width: 1.25rem;
  height: 1.25rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.uui-button-icon.large {
  width: 1.5rem;
  height: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.uui-button-link {
  grid-column-gap: .5rem;
  color: #0074d9;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.uui-button-link:hover {
  color: #53389e;
}

.uui-button-link.is-button-xsmall {
  font-size: .875rem;
}

.uui-navbar01_dropdown-content-button-wrapper {
  letter-spacing: normal;
  margin-top: 1rem;
  margin-left: .75rem;
  font-size: .875rem;
}

.uui-button-row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.uui-navbar01_item-button-wrapper {
  margin-top: .75rem;
}

.uui-text-size-small {
  color: #475467;
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  line-height: 1.5;
}

.uui-navbar01_item-heading {
  color: #101828;
  margin-bottom: .25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 600;
}

.uui-navbar01_item-heading.margin-bottom-0 {
  margin-bottom: 0;
}

.uui-navbar01_large-item-content {
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 400;
  display: flex;
}

.uui-navbar01_blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.uui-navbar01_blog-image-wrapper {
  width: 100%;
  height: 6.5rem;
  min-width: 11rem;
  border-radius: .375rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.uui-navbar01_blog-item {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  border-radius: .5rem;
  grid-template-rows: auto;
  grid-template-columns: .6fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  padding: .75rem;
  text-decoration: none;
  transition: all .3s;
  display: grid;
}

.uui-navbar01_blog-item:hover {
  background-color: #fff;
}

.uui-navbar01_dropdown-blog-list {
  grid-column-gap: 0rem;
  grid-row-gap: .5rem;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  display: grid;
}

.uui-navbar01_dropdown-content-heading {
  color: #125895;
  letter-spacing: normal;
  margin-left: .75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  font-weight: 600;
}

.uui-navbar01_dropdown-content-wrapper {
  z-index: 1;
  grid-row-gap: .75rem;
  grid-template-rows: min-content;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-auto-columns: 1fr;
  display: grid;
  position: relative;
}

.uui-navbar01_dropdown-content-right {
  max-width: 35rem;
  flex: 1;
  padding: 2rem 0 2rem 1.25rem;
  display: flex;
  position: relative;
}

.uui-navbar01_item-right {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 400;
  display: flex;
}

.uui-icon-1x1-xsmall {
  width: 1.5rem;
  height: 1.5rem;
}

.uui-navbar01_icon-wrapper {
  color: #125895;
  flex: none;
}

.uui-navbar01_dropdown-link {
  grid-column-gap: 1rem;
  grid-row-gap: 0px;
  border-radius: .5rem;
  grid-template-rows: auto;
  grid-template-columns: max-content 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  padding: .75rem;
  text-decoration: none;
  transition: all .3s;
  display: grid;
}

.uui-navbar01_dropdown-link:hover {
  background-color: #f9fafb;
}

.uui-badge-small-success {
  grid-column-gap: .25rem;
  color: #027a48;
  white-space: nowrap;
  mix-blend-mode: multiply;
  background-color: #ecfdf3;
  border-radius: 10rem;
  align-items: center;
  padding: .125rem .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .75rem;
  font-weight: 500;
  display: flex;
}

.uui-navbar01_text-wrapper {
  grid-column-gap: .5rem;
  grid-row-gap: 0px;
  align-items: center;
  margin-bottom: .25rem;
  display: flex;
}

.uui-navbar01_heading {
  color: #125895;
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: .25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  font-weight: 600;
}

.uui-navbar01_dropdown-link-list {
  grid-column-gap: 0px;
  grid-row-gap: .5rem;
  grid-template-rows: max-content;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-auto-columns: 1fr;
  display: grid;
}

.uui-navbar01_dropdown-content-left {
  grid-column-gap: 2rem;
  grid-row-gap: 0px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 2rem 2rem 2rem 0;
  display: grid;
}

.uui-navbar01_dropdown-content {
  width: 100%;
  display: flex;
}

.uui-navbar01_container {
  width: 100%;
  height: 100%;
  max-width: 80rem;
  min-height: 5rem;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.uui-navbar01_dropdown-list {
  box-shadow: 0 12px 16px -4px rgba(0, 0, 0, .08), 0 4px 6px -2px rgba(16, 24, 40, .03);
}

.uui-navbar01_dropdown-list.w--open {
  width: 100vw;
  max-width: 100%;
  min-width: 100vw;
  background-color: #fff;
  padding-left: 2rem;
  padding-right: 2rem;
  position: absolute;
  top: 5rem;
  bottom: auto;
  left: 0%;
  right: auto;
  overflow: hidden;
}

.uui-dropdown-icon {
  width: 1.25rem;
  height: 1.25rem;
  justify-content: center;
  align-items: center;
  margin-left: .5rem;
}

.uui-navbar01_dropdown-toggle {
  color: #475467;
  align-items: center;
  padding: 1.75rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 600;
  transition: all .3s;
  display: flex;
}

.uui-navbar01_dropdown-toggle:hover {
  color: #344054;
}

.uui-navbar01_menu-dropdown {
  font-size: 1rem;
  display: none;
  position: static;
}

.uui-navbar01_menu-left {
  min-height: 5rem;
  flex-direction: row;
  display: flex;
}

.uui-navbar01_menu {
  min-height: 5rem;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.5rem;
  display: flex;
  position: static;
}

.uui-logo_logotype {
  width: auto;
  height: 100%;
  flex: none;
}

.uui-logo_component {
  width: auto;
  height: 3rem;
  flex-wrap: nowrap;
  display: flex;
}

.uui-navbar01_logo-link {
  padding-left: 0;
}

.uui-navbar01_component {
  max-height: 5rem;
  min-height: 5rem;
  background-color: #fff;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.uui-space-xsmall {
  width: 100%;
  min-height: 1rem;
}

.uui-padding-vertical-xhuge {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.uui-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.uui-page-padding {
  cursor: default;
  background-color: #fff;
  margin: 5%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.text-block {
  color: #0074d9;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.uui-heroheader_image {
  width: 100%;
  height: 32.25rem;
  object-fit: cover;
}

.uui-heroheader_image-wrapper {
  width: 100%;
  border-radius: 1rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 4rem;
  display: flex;
}

.uui-button {
  grid-column-gap: .5rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #125895;
  border: 1px solid #125895;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button:hover {
  background-color: #0074d9;
  border-color: #0074d9;
}

.uui-button:focus {
  background-color: #125895;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px #ebf6ff;
}

.uui-button.is-button-large {
  grid-column-gap: .75rem;
  padding: 1rem 1.75rem;
  font-size: 1.125rem;
}

.uui-button.is-button-small {
  grid-column-gap: .5rem;
  padding: .5rem 1rem;
}

.uui-button.mobile {
  display: none;
}

.uui-button-secondary-gray {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: #344054;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button-secondary-gray:hover {
  color: #1d2939;
  background-color: #f9fafb;
}

.uui-button-secondary-gray:focus {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px #f2f4f7;
}

.uui-space-large {
  width: 100%;
  min-height: 3rem;
}

.uui-max-width-medium {
  width: 100%;
  max-width: 35rem;
}

.uui-text-size-xlarge {
  color: #475467;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

.uui-space-small {
  width: 100%;
  min-height: 1.5rem;
}

.uui-heroheader22_text-underline {
  background-image: linear-gradient(rgba(128, 196, 255, 0) 54%, #bbddfb 91%);
  overflow: visible;
}

.uui-heading-xlarge {
  width: 100%;
  color: #101828;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 1.2;
}

.uui-heading-xlarge.preload {
  width: auto;
  color: #fff;
  position: absolute;
  right: 55vw;
}

.uui-max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.error-text {
  color: #e23939;
}

.error-message {
  margin-top: 1.5rem;
  padding: .875rem 1rem;
}

.success-text {
  font-weight: 600;
}

.success-message {
  background-color: #f4f4f4;
  padding: 1.5rem;
}

.uui-form-button-wrapper {
  flex-direction: column;
  margin-top: .5rem;
  display: flex;
}

.uui-text-style-link {
  color: #475467;
  text-decoration: underline;
  transition: color .3s;
}

.uui-text-style-link:hover {
  color: #344054;
}

.uui-form-checkbox-label {
  color: #344054;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.uui-form-checkbox-icon {
  width: 1.25rem;
  height: 1.25rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  border-radius: .375rem;
  margin-top: 0;
  margin-left: -1.25rem;
  margin-right: .75rem;
  transition: all .3s;
}

.uui-form-checkbox-icon:hover {
  background-color: #f5faff;
  border-color: #125895;
}

.uui-form-checkbox-icon.w--redirected-checked {
  box-shadow: none;
  background-color: #f5faff;
  background-image: var(--image-58a3f9a4);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: .875rem .875rem;
  background-attachment: scroll;
  border-width: 1px;
  border-color: #125895;
  border-radius: .25rem;
}

.uui-form-checkbox-icon.w--redirected-focus {
  background-color: #f5faff;
  border-color: #125895;
  border-radius: .25rem;
  box-shadow: 0 0 0 4px #ebf6ff;
}

.uui-form-checkbox {
  align-items: center;
  margin-bottom: 0;
  padding-left: 1.25rem;
  display: flex;
}

.uui-form_input {
  height: auto;
  min-height: 2.75rem;
  color: #101828;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  border-radius: .5rem;
  margin-bottom: 0;
  padding: .5rem .875rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  transition: all .3s;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-form_input:focus {
  color: #101828;
  border-color: #bbddfb;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px #ebf6ff;
}

.uui-form_input::-ms-input-placeholder {
  color: #667085;
}

.uui-form_input::placeholder {
  color: #667085;
}

.uui-form_input.text-area {
  height: auto;
  min-height: 11.25rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  overflow: auto;
}

.uui-form_input.select {
  color: #101828;
  background-color: #fff;
}

.uui-field-label {
  color: #344054;
  margin-bottom: .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.5;
}

.uui-form-field-wrapper {
  position: relative;
}

.form-field-2col {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.uui-contact04_form {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.uui-contact_form-wrapper {
  flex-direction: column;
  align-items: stretch;
}

.uui-icon-1x1-xsmall-3 {
  width: 1.5rem;
  height: 1.5rem;
}

.uui-contact04_icon-wrapper {
  color: #125895;
  flex: none;
  align-self: flex-start;
  margin-right: 1rem;
}

.uui-contact04_item {
  align-items: center;
  text-decoration: none;
  display: flex;
}

.uui-contact04_contact-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-top: 3rem;
  display: grid;
}

.uui-text-size-large {
  color: #475467;
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.uui-heading-medium {
  color: #101828;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
}

.uui-contact04_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.uui-footer05_social-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.uui-footer05_social-link {
  color: #98a2b3;
  align-items: center;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.uui-footer05_social-link:hover {
  color: #667085;
}

.uui-footer05_social-icons {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  align-items: start;
  justify-items: start;
  display: grid;
}

.uui-footer05_legal-link {
  color: #667085;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  text-decoration: none;
  transition: all .3s;
}

.uui-footer05_legal-link:hover {
  color: #475467;
}

.uui-footer05_legal-list {
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.uui-footer05_legal-list-wrapper {
  grid-column-gap: 1.5rem;
  display: flex;
}

.uui-footer05_bottom-wrapper {
  border-top: 1px solid #eaecf0;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  padding-top: 2rem;
  display: flex;
}

.uui-footer05_link {
  grid-column-gap: .5rem;
  color: #475467;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.uui-footer05_link:hover {
  color: #344054;
}

.uui-footer05_link-list-heading {
  color: #667085;
  letter-spacing: normal;
  margin-bottom: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  font-weight: 600;
}

.uui-footer05_link-list {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  align-items: flex-start;
  justify-items: start;
  display: flex;
}

.uui-badge-small-success-2 {
  grid-column-gap: .25rem;
  color: #027a48;
  white-space: nowrap;
  mix-blend-mode: multiply;
  background-color: #ecfdf3;
  border-radius: 10rem;
  align-items: center;
  padding: .125rem .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .75rem;
  font-weight: 500;
  display: flex;
}

.uui-footer05_top-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  align-items: start;
  justify-items: start;
}

.uui-footer05_form {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: 1fr;
  margin-bottom: .75rem;
  display: grid;
}

.uui-footer05_form-block {
  max-width: 35rem;
  min-width: 25rem;
  margin-bottom: 0;
}

.uui-text-size-medium {
  color: #475467;
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.uui-space-xxsmall {
  width: 100%;
  min-height: .5rem;
}

.uui-heading-xxsmall {
  color: #101828;
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-footer05_newsletter-wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4rem;
  display: flex;
}

.uui-padding-vertical-xlarge {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.uui-layout13_image-01 {
  width: 24rem;
  min-width: 24rem;
  position: absolute;
  top: 2rem;
  left: auto;
  right: -1.5rem;
}

.uui-layout13_image-02 {
  width: 18rem;
  min-width: 18rem;
  position: absolute;
  top: 7rem;
  left: 2rem;
  right: 0%;
}

.uui-layout13_image-wrapper {
  width: 100%;
  height: 100%;
  min-height: 35rem;
  background-color: #f2f4f7;
  display: flex;
  position: relative;
  overflow: hidden;
}

.uui-heading-xsmall {
  color: #101828;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
}

.uui-layout13_tabs-link {
  background-color: rgba(0, 0, 0, 0);
  border-left: 4px solid #f2f4f7;
  padding: 1.5rem 0 1.5rem 2rem;
  display: block;
}

.uui-layout13_tabs-link.w--current {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  border-left-color: #125895;
}

.uui-layout13_tabs-menu {
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.uui-layout13_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.full_screen {
  width: 100vw;
  height: 100vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: flex;
  overflow: hidden;
}

.opener_bg {
  z-index: -5;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
}

.opener_split {
  width: 50%;
  height: 100%;
  color: #fff;
  justify-content: center;
  align-items: center;
  transition: width .4s ease-in-out;
  display: flex;
  position: relative;
}

.opener_split:hover {
  width: 75%;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.logo_middle {
  z-index: 10;
  width: 8rem;
  background-color: #fff;
  border-radius: 25px;
  justify-content: center;
  padding: 19px;
  display: flex;
  position: absolute;
  box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}

.opener_div_header {
  color: #101828;
  background-color: #fff;
  border-radius: 25px;
  padding: 5px 20px;
}

.preloader {
  z-index: 9999;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #fff;
  background-color: #0074d9;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.full {
  object-fit: cover;
}

.uui-text-size-xlarge-2 {
  color: #475467;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

.uui-heading-large {
  color: #101828;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

.uui-header07_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr .5fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.uui-padding-vertical-xhuge-3 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.inline-text {
  display: inline;
}

.inline-text.blue {
  color: #0074d9;
}

.uui-text-align-center {
  text-align: center;
}

.uui-container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.div-block {
  background-color: #bbddfb;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.equipment-stack {
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr;
  grid-auto-columns: 1fr;
  font-size: 1.15rem;
  line-height: 1.2;
  display: flex;
}

.cell {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  display: flex;
}

.equipment-text-div {
  margin-bottom: 10px;
}

.link-block {
  text-decoration: none;
  display: block;
}

.equipment-image {
  width: 70%;
  object-fit: contain;
  display: block;
}

.fs-checkbox_label-10 {
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.fs-dropdown-1 {
  z-index: 998;
  margin-left: 0;
}

.fs-checkbox_field-10 {
  width: 100%;
  color: #000;
  cursor: pointer;
  background-color: #bbddfb;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: .4rem;
  display: flex;
  position: relative;
}

.fs-checkbox_field-10.is-active {
  background-color: #0074d9;
}

.fs-checkbox_row {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  align-items: flex-start;
  display: flex;
}

.fs-checkbox_button-10 {
  width: 14px;
  height: 12px;
  background-color: rgba(0, 0, 0, .5);
  border-style: none;
  border-width: 0;
  border-radius: 20px;
  margin-top: 0;
  margin-right: .5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
}

.fs-checkbox_button-10.w--redirected-checked {
  background-color: #ff6700;
  background-size: .75rem;
  border-color: #fff;
}

.fs-checkbox_button-10.w--redirected-focus {
  box-shadow: none;
}

.fs-checkbox_button-10.w--redirected-focus-visible {
  box-shadow: none;
  outline-offset: 4px;
  outline: 2px solid #9b9b9b;
}

.form {
  justify-content: center;
  align-items: center;
  display: flex;
}

.fs-cc-banner4_block {
  text-align: center;
  background-color: #fff;
  padding: 30px;
}

.fs-cc-prefs4_toggle-wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  display: flex;
}

.fs-cc-banner4_component {
  z-index: 997;
  background-color: rgba(83, 202, 245, .9);
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.fs-cc-prefs4_overlay {
  z-index: -1;
  background-color: rgba(100, 207, 246, .9);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.fs-cc-prefs4_title {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.fs-cc-prefs4_close {
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: #8042fc;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: -48px;
  bottom: auto;
  left: auto;
  right: 0%;
}

.fs-cc-manager4_button {
  width: 48px;
  height: 48px;
  color: #8042fc;
  background-color: #fff;
  border-radius: 500px;
  padding: 8px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, .1);
}

.fs-cc-banner4_text-link {
  color: #333;
  border-bottom: 2px solid #333;
  font-weight: 400;
  text-decoration: none;
}

.fs-cc-preferences4_close-icon {
  width: 32px;
  height: 32px;
  color: #fff;
}

.fs-cc-banner4_button {
  width: 50%;
  text-align: center;
  background-color: #8042fc;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.fs-cc-banner4_button.fs-cc-button-alt {
  background-color: #e6476c;
}

.fs-cc-prefs4_component {
  z-index: 998;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.fs-cc-prefs4_header {
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 10px;
  padding: 40px;
}

.fs-cc-prefs4_button-wrapper {
  background-color: #f7f7f7;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  display: flex;
}

.fs-cc-prefs4_checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-width: 2px;
  border-color: #8042fc;
}

.fs-cc-prefs4_checkbox.w--redirected-checked {
  background-color: #9d6ff9;
  background-size: 10px;
  border-color: #7c40f5;
}

.fs-cc-prefs4_checkbox.w--redirected-focus {
  box-shadow: 0 0 3px 1px #8042fc;
}

.fs-cc-prefs4_form-wrapper {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.fs-cc-prefs4_text {
  color: gray;
  font-size: 12px;
  line-height: 1.4;
}

.fs-cc-prefs4_button {
  color: #3b3b3b;
  margin-right: 10px;
  padding: 15px;
}

.fs-cc-prefs4_content {
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.fs-cc-prefs4_checkbox-label {
  display: none;
}

.fs-cc-prefs4_submit {
  color: #fff;
  background-color: #8042fc;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 700;
}

.fs-cc-prefs4_label {
  color: #8042fc;
  font-size: 16px;
  font-weight: 700;
}

.fs-cc-banner4_container {
  max-width: 340px;
}

.fs-cc-prefs4_option {
  width: 50%;
  padding: 12px 20px;
}

.fs-cc-manager4_component {
  z-index: 999;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
  display: none;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.fs-cc-banner4_buttons-wrapper {
  align-items: stretch;
  display: flex;
}

.fs-cc-banner4_text {
  font-size: 18px;
  line-height: 1.4;
}

.fs-cc-prefs4_form {
  height: 100%;
  display: block;
}

.button-round {
  width: 20px;
  height: 15px;
  background-color: rgba(102, 112, 133, .7);
  border-style: none;
  border-width: 0;
  border-radius: 20px;
  margin-top: 0;
  margin-left: 0;
  display: none;
}

.uui-button-outline {
  grid-column-gap: .5rem;
  color: #101828;
  text-align: center;
  border: 1px solid #125895;
  border-radius: 1.2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button-outline:hover {
  color: #fff;
  background-color: #0074d9;
  border-color: #0074d9;
}

.uui-button-outline.is-button-large {
  grid-column-gap: .75rem;
  padding: 1rem 1.75rem;
  font-size: 1.125rem;
}

.uui-button-outline.is-button-small {
  grid-column-gap: .5rem;
  padding: .5rem 1rem;
}

.uui-button-outline.mobile {
  display: none;
}

.uui-button-outline.is-active {
  color: #fff;
  background-color: #0074d9;
}

.equipment-header {
  margin-top: 10px;
}

.uui-submenu {
  z-index: 997;
  cursor: default;
  background-color: #fff;
  padding: .5rem 2rem 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

.submenu {
  margin-bottom: 0;
}

.collection-item {
  width: 33.3333%;
  display: inline-block;
}

.img_full_width {
  width: 100%;
  object-fit: cover;
}

.event-padding {
  cursor: default;
  background-color: #fff;
  margin-bottom: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.event-items {
  margin-bottom: 5%;
}

.collection-list-wrapper-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
}

.grid-3clm {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.event-name {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.5;
}

.example-sets {
  cursor: default;
  background-color: #fff;
  margin: 5% 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.team-div {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.team-name-div {
  padding: 15px;
}

.team-picture {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.team-container {
  width: 100%;
  background-color: rgba(208, 213, 221, .47);
  border-radius: 15px;
}

@media screen and (max-width: 991px) {
  .menu-icon_line-bottom {
    width: 24px;
    height: 2px;
    background-color: #344054;
    border-radius: 1rem;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_line-middle {
    width: 24px;
    height: 2px;
    background-color: #344054;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon_line-top {
    width: 24px;
    height: 2px;
    background-color: #344054;
    border-radius: 1rem;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_component {
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .uui-navbar01_menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .uui-navbar01_button-wrapper {
    flex-direction: column-reverse;
    align-items: stretch;
    display: flex;
  }

  .uui-navbar01_menu-right {
    flex-direction: column-reverse;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin-top: 1.5rem;
    padding-bottom: 7rem;
  }

  .uui-navbar01_link {
    width: 100%;
    color: #101828;
    padding: .75rem 0;
    font-size: 1.125rem;
  }

  .uui-navbar01_link:hover {
    color: #101828;
  }

  .uui-navbar01_dropdown-right-overlay-absolute {
    min-width: 100%;
    border-radius: .5rem;
  }

  .uui-navbar01_dropdown-content-button-wrapper {
    margin-bottom: 0;
    margin-left: 0;
  }

  .uui-navbar01_large-item-content {
    width: 100%;
  }

  .uui-navbar01_blog-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .uui-navbar01_blog-item:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .uui-navbar01_dropdown-blog-list {
    width: 100%;
  }

  .uui-navbar01_dropdown-content-heading {
    margin-bottom: 0;
    margin-left: 0;
  }

  .uui-navbar01_dropdown-content-right {
    max-width: none;
    align-items: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: hidden;
  }

  .uui-navbar01_dropdown-link {
    padding-left: 0;
    padding-right: 0;
  }

  .uui-navbar01_dropdown-link:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .uui-navbar01_dropdown-content-left {
    align-content: start;
    align-items: start;
    padding-left: 0;
    padding-right: 0;
  }

  .uui-navbar01_dropdown-content {
    flex-direction: column;
  }

  .uui-navbar01_dropdown-list {
    position: relative;
    overflow: hidden;
  }

  .uui-navbar01_dropdown-list.w--open {
    min-width: auto;
    box-shadow: none;
    border-style: none;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    padding: 0 0 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }

  .uui-dropdown-icon {
    color: #667085;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .uui-navbar01_dropdown-toggle {
    color: #101828;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 0;
    font-size: 1.125rem;
    display: flex;
  }

  .uui-navbar01_dropdown-toggle:hover {
    color: #101828;
  }

  .uui-navbar01_menu-dropdown {
    width: 100%;
    position: relative;
  }

  .uui-navbar01_menu-left {
    grid-column-gap: 0px;
    grid-row-gap: .5rem;
    color: #101828;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .uui-navbar01_menu {
    height: 100vh;
    -webkit-text-fill-color: inherit;
    background-color: #fff;
    background-clip: border-box;
    border-top: 1px solid #f2f4f7;
    align-items: flex-start;
    margin-left: 0;
    padding: 1.5rem 2rem 5rem;
    position: absolute;
    overflow: auto;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .uui-space-large {
    min-height: 2.5rem;
  }

  .uui-heading-xlarge {
    font-size: 3.25rem;
  }

  .uui-contact04_contact-list {
    margin-top: 2rem;
  }

  .uui-contact04_component {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .uui-footer05_social-icons {
    margin-bottom: 1rem;
  }

  .uui-footer05_bottom-wrapper {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .uui-footer05_top-wrapper {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .uui-footer05_form-block {
    min-width: auto;
  }

  .uui-footer05_newsletter-text-wrapper {
    margin-bottom: 2rem;
  }

  .uui-footer05_newsletter-wrapper {
    justify-content: flex-start;
    display: block;
  }

  .uui-padding-vertical-xlarge {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .uui-layout13_image-01 {
    width: 100%;
    min-width: auto;
    top: 3%;
    right: -5%;
  }

  .uui-layout13_image-02 {
    display: none;
  }

  .uui-layout13_component {
    grid-column-gap: 3rem;
  }

  .uui-heading-large {
    font-size: 2.75rem;
  }

  .uui-header07_component {
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
  }

  .uui-padding-vertical-xhuge-3 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .uui-navbar01_link, .uui-button-link {
    font-size: 1rem;
  }

  .uui-button-link:hover {
    color: #0074d9;
  }

  .uui-button-row {
    align-self: stretch;
  }

  .uui-button-row.is-reversed-mobile {
    flex-direction: column-reverse;
  }

  .uui-text-size-small.hide-mobile-landscape {
    display: none;
  }

  .uui-navbar01_blog-item {
    grid-column-gap: 1rem;
    grid-template-columns: .6fr 1fr;
  }

  .uui-navbar01_dropdown-content-right {
    padding: 1.5rem 1rem;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .uui-badge-small-success {
    padding: .125rem .5rem;
  }

  .uui-navbar01_dropdown-link-list {
    max-width: none;
    grid-row-gap: .5rem;
  }

  .uui-navbar01_dropdown-content-left {
    grid-row-gap: 1.5rem;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  .uui-navbar01_dropdown-toggle {
    font-size: 1rem;
  }

  .uui-navbar01_menu {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .uui-navbar01_component {
    min-height: 4.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .uui-space-xsmall {
    min-height: .75rem;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .uui-page-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .uui-heroheader_image {
    height: 22rem;
    max-width: none;
  }

  .uui-button {
    font-size: 1rem;
  }

  .uui-button:hover {
    background-color: #125895;
    border-color: #125895;
  }

  .uui-button.is-button-large {
    grid-column-gap: .5rem;
    padding: .75rem 1.25rem;
    font-size: 1rem;
  }

  .uui-button-wrapper.max-width-full-mobile-landscape {
    width: 100%;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .uui-button-secondary-gray {
    padding-left: 1.25rem;
    font-size: 1rem;
  }

  .uui-button-secondary-gray:hover {
    color: #344054;
    background-color: #fff;
  }

  .uui-space-large {
    min-height: 2rem;
  }

  .uui-text-size-xlarge {
    font-size: 1.125rem;
  }

  .uui-space-small {
    min-height: 1.25rem;
  }

  .uui-heading-xlarge {
    font-size: 2rem;
  }

  .uui-text-size-large {
    font-size: 1rem;
  }

  .uui-heading-medium {
    font-size: 1.75rem;
    line-height: 1.4;
  }

  .uui-contact04_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .uui-footer05_social-link:hover, .uui-footer05_legal-link:hover {
    color: #98a2b3;
  }

  .uui-footer05_legal-list {
    margin-bottom: 1rem;
  }

  .uui-footer05_legal-list-wrapper {
    flex-direction: column-reverse;
  }

  .uui-footer05_bottom-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 3rem;
  }

  .uui-footer05_link:hover {
    color: #667085;
  }

  .uui-badge-small-success-2 {
    padding: .125rem .5rem;
  }

  .uui-footer05_logo-link {
    margin-bottom: 1rem;
  }

  .uui-footer05_top-wrapper {
    grid-row-gap: 2rem;
  }

  .uui-heading-xxsmall {
    font-size: 1.125rem;
  }

  .uui-footer05_newsletter-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3rem;
  }

  .uui-padding-vertical-xlarge {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .uui-layout13_image-01 {
    width: 60%;
    min-width: 60%;
    top: 2%;
    right: 0%;
  }

  .uui-layout13_image-02 {
    width: 50%;
    min-width: auto;
    display: block;
    top: 25%;
    left: 5%;
  }

  .uui-layout13_image-wrapper {
    height: 24rem;
    min-height: auto;
  }

  .uui-heading-xsmall {
    font-size: 1.25rem;
  }

  .uui-layout13_tabs-link {
    padding-left: 1.5rem;
  }

  .uui-layout13_component {
    grid-column-gap: 0px;
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .full_screen {
    flex-direction: column;
  }

  .opener_split {
    width: 100%;
    height: 50%;
    transition: height .4s ease-in-out, width .4s ease-in-out;
  }

  .opener_split:hover {
    width: 100%;
    height: 75%;
  }

  .logo_middle {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }

  .uui-text-size-xlarge-2 {
    font-size: 1.125rem;
  }

  .uui-heading-large {
    font-size: 2.25rem;
  }

  .uui-header07_component {
    grid-template-columns: 1fr;
  }

  .uui-padding-vertical-xhuge-3 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .equipment-stack {
    grid-template-columns: 1fr 1.5fr;
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
  }

  .equipment-image {
    width: 100%;
  }

  .fs-checkbox_row {
    grid-auto-flow: row;
  }

  .fs-cc-banner4_text-link {
    margin-right: 8px;
  }

  .uui-button-outline {
    font-size: 1rem;
  }

  .uui-button-outline.is-button-large {
    grid-column-gap: .5rem;
    padding: .75rem 1.25rem;
    font-size: 1rem;
  }

  .uui-submenu, .event-stack, .event-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .example-sets {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .uui-navbar01_large-item-content {
    margin-top: 1rem;
  }

  .uui-navbar01_blog-item {
    flex-direction: column;
    display: flex;
  }

  .uui-navbar01_dropdown-blog-list {
    grid-column-gap: 0px;
    grid-row-gap: .5rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .uui-navbar01_dropdown-link {
    padding-left: 0;
  }

  .uui-navbar01_dropdown-content-left {
    grid-template-columns: 1fr;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .uui-page-padding {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .uui-heroheader_image {
    height: 15rem;
  }

  .form-field-2col {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .uui-contact04_component {
    grid-template-columns: 1fr;
  }

  .uui-footer05_top-wrapper {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .uui-footer05_form {
    grid-row-gap: 12px;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .uui-layout13_image-01 {
    width: 80%;
    right: -7%;
  }

  .uui-layout13_image-02 {
    top: 20%;
  }

  .uui-header07_component {
    grid-template-columns: 1fr;
  }

  .fs-checkbox_row {
    width: 100%;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: auto;
    display: grid;
  }

  .fs-cc-prefs4_title {
    font-size: 18px;
  }

  .fs-cc-prefs4_checkbox-field {
    margin-left: 5px;
  }

  .fs-cc-prefs4_header {
    padding: 20px;
  }

  .fs-cc-prefs4_button-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .fs-cc-prefs4_content, .fs-cc-prefs4_option {
    padding-left: 10px;
    padding-right: 10px;
  }

  .uui-button-outline {
    padding-left: .825rem;
    padding-right: .825rem;
  }

  .event-padding {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

#w-node-_4b49b822-8c0a-3844-4a4a-96c436d28f26-acb45760 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_271d97e2-54db-87dc-ff70-8d2072aebe37-acb45760, #w-node-_271d97e2-54db-87dc-ff70-8d2072aebe3c-acb45760, #w-node-_271d97e2-54db-87dc-ff70-8d2072aebe41-acb45760 {
  align-self: start;
}

#w-node-_271d97e2-54db-87dc-ff70-8d2072aebe87-acb45760 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_271d97e2-54db-87dc-ff70-8d2072aebe88-acb45760 {
  justify-self: center;
}

#w-node-_4aa54da8-8f36-dcd3-f940-645aba1ed7d7-ba1ed7d7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_0ea18ffb-97aa-7338-c079-e339fb2ed2cf-fb2ed1d7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-_0ea18ffb-97aa-7338-c079-e339fb2ed2d0-fb2ed1d7 {
  justify-self: start;
}

#w-node-_0ea18ffb-97aa-7338-c079-e339fb2ed255-fb2ed1d7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-_0ea18ffb-97aa-7338-c079-e339fb2ed256-fb2ed1d7 {
  justify-self: start;
}

#w-node-_86f46332-fd8f-fe3e-1915-d3599a972a8f-f8a8445b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_4aa54da8-8f36-dcd3-f940-645aba1ed7f2-ba1ed7d7 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_4aa54da8-8f36-dcd3-f940-645aba1ed7f2-ba1ed7d7, #w-node-cfbefd36-1426-30d1-b782-f207141b99fb-f8a8445b {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}


